.img {
  flex: 1;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYIUqG_i5ogANBDJHejMsHMua-6ax7yTAxEHfJXTc-GeDPKy23CVRS7lrqXlYqoiTd_JqQoeV7dQTgPKpV6yNrIteynMdZ-zA");
}
