.img {
  flex: 1;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbbBDTbqd1UeFceIaEa_C967pOPCkBjfOpHNojx6wCec5tBgTF66_DDRIMF7GDkdUPFAzqQbaEw8AmR8VDGt1AcblPMRbYEJg");
}
