.img {
  flex: 1;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihY4cxuLIVbGVgFHfGYHlzN6xml-LuPBa0SAM4z9q693RrHjfWe1tnXIM11UbMPvAL73apB_T0GnDeD7of3rbDURGNH6EKaquQA");
}
